<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <svg
        id="app"
        :view-box.camel="viewBox"
    >
        <defs>
            <g
                id="goose-shape"
                transform="scale(0.5)"
            >
                <path
                    id="triangle"
                    fill="#fc8b34"
                    d="
                        M 1.21 -1.21
                        L 4 0
                        L 1.21 1.21
                    "
                />
                <ellipse
                    fill="#fff"
                    rx="2"
                    ry="2"
                />
                <ellipse
                    fill="#000"
                    rx="1"
                    ry="1"
                />
            </g>
            <g
                id="goose-eye"
                transform="scale(0.5)"
            >
                <ellipse
                    fill="#fff"
                    cx="0.4"
                    rx="0.3"
                    ry="0.3"
                />
                <path
                    id="triangle"
                    fill="#fc8b34"
                    stroke="#fc8b34"
                    stroke-width="0.25"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    d="
                        M 5 -0.5
                        L 5.5 0
                        L 5 0.5
                        Z
                    "
                />
            </g>
            <g
                id="goose-action"
                transform="scale(0.5)"
            >
                <path
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    d="
                        M 5 0
                        L 8 0
                    "
                />
                <path
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    transform="rotate(20)"
                    d="
                        M 6 0
                        L 7.5 0
                    "
                />
                <path
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    transform="rotate(-20)"
                    d="
                        M 6 0
                        L 7.5 0
                    "
                />
            </g>
        </defs>
        <g
            class="cursors"
            :transform="'scale(' + bounds.width + ')'"
        >
            <g
                v-for="cursor in cursors"
                :key="cursor.id"
                :transform="cursor.transform"
            >
                <g
                    v-if="cursor.action"
                    :transform="'scale(' + cursor.action + ')'"
                >
                    <use
                        href="#goose-action"
                        stroke="#000"
                        stroke-width="1.5"
                    />
                    <use
                        href="#goose-action"
                        stroke="#fff"
                        stroke-width="0.5"
                    />
                </g>
                <use
                    href="#goose-shape"
                    stroke="#000"
                    stroke-width="1"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                />
                <use
                    href="#goose-shape"
                />
                <use
                    href="#goose-eye"
                    :transform="cursor.pointerTransform"
                />
            </g>
        </g>
        
    </svg>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./electron_browser.js"></script>
</body>
</html>
